#title-theme-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 20pt;
}
#theme-button {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  border: transparent 2px solid;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  border-radius: 20px;
  margin-left: 50px;
  font-size: 16pt;
}

#theme-button:hover {
  color: #000;
  background-color: #fff;
}
img {
  display: block;
  max-width: 1000px;
  max-height: 1500px;
  width: auto;
  height: auto;
}
.comic-wrapper-light,
.comic-wrapper-dark {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comic-wrapper-dark {
  display: none;
}
